In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\sengu\anaconda3\lib\site-packages (2.0.4)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sengu\anaconda3\lib\site-packages (from sqlalchemy) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sengu\anaconda3\lib\site-packages (from sqlalchemy) (2.0.2)

In [2]:
from sqlalchemy import create_engine , ForeignKey,Column, String, CHAR ,Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [3]:
Base = declarative_base()

C:\Users\sengu\AppData\Local\Temp\ipykernel_20188\4196137762.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
class Person(Base):
    '''Creation of the tablr class and defining the columns and it's constraints over here'''
    __tablename__ = "person"
    adhaar = Column("adhaar",Integer,primary_key=True)
    firstname = Column("firstname",String)
    lastname = Column("lastname",String)
    gender = Column("gender",CHAR)
    age = Column("age",Integer)

    ''' Defining of the function that stays within the class and takes all the columns defined over in the previous line as the argument parameter'''
    def __init__(self,adhaar,firstname,lastname,gender,age):
        self.adhaar = adhaar
        self.firstname = firstname
        self.lastname = lastname
        self.gender = gender
        self.age = age
    
    def __repr__(self):
        return f"({self.adhaar} , {self.firstname} ,{self.lastname},{self.gender},{self.age})"

In [6]:
engine = create_engine("sqlite:///mydb.db",echo=True)
Base.metadata.create_all(bind = engine)
Session = sessionmaker(bind=engine)
session = Session()

2023-02-20 13:03:43,135 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-20 13:03:43,137 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("person")
2023-02-20 13:03:43,138 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-20 13:03:43,139 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("person")
2023-02-20 13:03:43,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-20 13:03:43,142 INFO sqlalchemy.engine.Engine
CREATE TABLE person (
	adhaar INTEGER NOT NULL,
	firstname VARCHAR,
	lastname VARCHAR,
	gender CHAR,
	age INTEGER,
	PRIMARY KEY (adhaar)
)


2023-02-20 13:03:43,143 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2023-02-20 13:03:43,152 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
person = Person(615330967381,"Chandan","Sengupta","Male",35)
session.add(person)

In [8]:
session.commit()

2023-02-20 13:05:32,842 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-20 13:05:32,845 INFO sqlalchemy.engine.Engine INSERT INTO person (adhaar, firstname, lastname, gender, age) VALUES (?, ?, ?, ?, ?)
2023-02-20 13:05:32,847 INFO sqlalchemy.engine.Engine [generated in 0.00117s] (615330967381, 'Chandan', 'Sengupta', 'Male', 35)
2023-02-20 13:05:32,849 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
p1 = Person(615330967391,"Angela","Martin","Female",38)
p2 = Person(615330967371,"Jim","Halpert","Male",36)
p3 = Person(615330967361,"Michael","Scott","Male",55)
p4 = Person(615430967381,"Pam","Beesly","Female",32)
session.add(p1)
session.add(p2)
session.add(p3)
session.add(p4)
session.commit()

2023-02-20 13:08:39,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-20 13:08:39,973 INFO sqlalchemy.engine.Engine INSERT INTO person (adhaar, firstname, lastname, gender, age) VALUES (?, ?, ?, ?, ?)
2023-02-20 13:08:39,973 INFO sqlalchemy.engine.Engine [generated in 0.00085s] [(615330967391, 'Angela', 'Martin', 'Female', 38), (615330967371, 'Jim', 'Halpert', 'Male', 36), (615330967361, 'Michael', 'Scott', 'Male', 55), (615430967381, 'Pam', 'Beesly', 'Female', 32)]
2023-02-20 13:08:39,973 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
''' Query Making'''
results = session.query(Person).all()
print(results)

2023-02-20 13:10:32,125 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-20 13:10:32,130 INFO sqlalchemy.engine.Engine SELECT person.adhaar AS person_adhaar, person.firstname AS person_firstname, person.lastname AS person_lastname, person.gender AS person_gender, person.age AS person_age
FROM person
2023-02-20 13:10:32,131 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ()
[(615330967361 , Michael ,Scott,Male,55), (615330967371 , Jim ,Halpert,Male,36), (615330967381 , Chandan ,Sengupta,Male,35), (615330967391 , Angela ,Martin,Female,38), (615430967381 , Pam ,Beesly,Female,32)]