In [7]:
import pandas as pd 
import numpy as np

In [8]:
df = pd.read_excel(r"C:\Workflow\All Table Structure\all_tables.xlsx")

In [9]:
df.head()

,Identity_tbl,Referred_By_tbl,aa,ac_data,account_business_details,account_business_followup_details,account_delete_req_transaction,account_delete_request_tbl,account_gst_number_map,account_information,...,visitor_track_table_no_activity,visitor_track_tbl,visitor_track_tbl_api_status,visitor_track_tbl_final_new,visitor_track_tbl_new,visitor_track_tbl_new_execution_history,voice_search_history,voucher_temp_check,wp_msg,zone_tbl
0,identity_id,Referred_By_id,dealer_id,id,business_id,business_followup_id,ddreq_trans_id,request_id,gst_id,id,...,tracking_id,tracking_id,status_id,tracking_id,tracking_id,id,id,id,Id,zone_id
1,identity_name,Referred_By_Name,ship_id,ac_name,sub_cat_id,question_id,request_id,emp_id,sap_code,dealer_id,...,emp_id,emp_id,date,emp_id,emp_id,data,imei_number,voucher_id,initiated_date,zone_name
2,NaN,is_active,dealer_type,ac_phone,brand_id,answers_id,dealer_id,account_id,gst_number,project_id,...,date,location,emp_id,latitude,latitude,created_at,query,reference_id,from_no,NaN
3,NaN,NaN,account_type_id,ac_type,competitor_brand_id,emp_id,emp_id,account_type_id,NaN,datetime,...,from_time,latitude,status,longitude,longitude,NaN,response,consumer_name,to_no,NaN
4,NaN,NaN,dealer_name,state_id,avg_sale,dealer_id,emp_remarks,delete_remarks,NaN,opening_balance,...,from_realtime,longitude,API,accuracy,date,NaN,enquire_at,NaN,template_id,NaN

In [17]:
common_word = "dashboard"
filtered_columns = df.filter(like = common_word)
lst = []

for i in filtered_columns.columns:
    lst.append(i)
print(lst)

['dashboard_cal_temp', 'dashboard_data1', 'dashboard_state', 'dealer_target_vs_achvmnt_dashboard', 'emp_visit_dashboard', 'inactive_dealers_dashboard', 'lead_generated_dashboard', 'open_leads_dashboard', 'primary_dashboard', 'primary_lifting_dashboard_data', 'secondary_dashboard', 'secondary_lifting_dashboard_data', 'tablue_meet_dashboard', 'tbl_meet_dashboard', 'tbl_secondary_sale_dashboard', 'tbl_unique_bill_dashboard', 'tbl_visit_dashboard']

In [14]:
df1 = pd.read_excel(r"C:\Workflow\All Table Structure\Table_Structures.xlsx")

In [15]:
df1.columns

Index(['employee_tbl', 'dealerhistory', 'account_priority_geotag_transactions',
       'dealer_checkin_checkout', 'dealer_checkin_checkout_dt',
       'dispatch_item', 'dealer_partner_fn', 'dealer_master',
       'tbl_live_km_tracking', 'recomend_project_approval_details_tbl',
       'recomend_project_tbl', 'recomend_project_details_tbl',
       'rec_project_account_tbl', 'block_tbl', 'dealer_district',
       'district_tbl', 'order_prod_tbl',
       'distributer_working_as_dealer_for_dlppt_tbl', 'order_tbl',
       'subDealerPurchase_tbl', 'subdealer_order_prod_tbl',
       'subdealer_order_tbl', 'profile_tbl', 'user_tbl', 'account_type_tbl',
       'recProjectReferredBy', 'attendance_tbl', 'state_tbl'],
      dtype='object')